@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Montserrat;
  background: 
  linear-gradient(113deg, rgba(0,0,255,0), rgba(176,35,218,0.82));
  /* filter: contrast(170%) brightness(1000%); */
    height: 100vh;
}

header{
    text-align: center;
}

h1{
    font-weight: 700;
    font-size: 2rem;
    margin-top: 2.5rem; 
}

main{
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form{
    background-color: whitesmoke;
    width: 600px;
    padding: 15px 20px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
}

form input[type="text"] {
    outline: 0;
    font-size: 2rem;
    border: none;
    background-color: transparent;
}

form button{
    font-size: 2rem;
}

form button:hover{
    cursor: pointer;
}

#list-container{
    background-color: whitesmoke;
    margin-top: 40px;
    width: 600px;
    padding: 15px 20px;
    border-radius: 4px;
}

#todo-list{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#todo-list li{
    padding: 5px;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightslategray;
    padding: 10px;
    transition: all 0.3s ease-out;
}

.transition-fall{
    transform: translateY(12rem) rotateZ(10deg);
}

.button-container{
    display: flex;
    gap: 1.5rem;
}

.todo-button{
    font-size: 1.8rem;
    padding: 0.5px 2px;
    outline: none;
    background-color: transparent;
    border: none;
}

.todo-button:first-child:hover{
    color: green;
}

.todo-button:last-child:hover{
    color: red;
}


#clear{
    border: none;
    background-color: transparent;
    font-size: 1.2rem;
    margin-top: 1.5rem;
    margin-left: calc(100% - 80px);
    font-weight: 300;
}

#clear:hover{
    color: red;
}

i{
    pointer-events: none;
}



